<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <style type="text/css">
        .selected {color: red}
    </style>
</head>
<body>
<div id="wrap"></div>
<script id="test" type="text/html">
    <% if (total>0) { %>
    <% if (current>0) { %>
        <li><a href="javascript:void(0);" data-page="<%=(current-1)%>}">«</a></li>
    <%}%>
    <% if (current<2) { %>
        <% for(var index=0; i<$min(5,total+1); index++){ %>
        <li <% if (current==index) { %> class="active"<%}%> ><a href="javascript:void(0);" data-page="<%=index%>"><%=(index-1)%></a></li>
        <% } %>
    <% } %>    
    <% if (current>total-2){ %>
        <% for(var index= $max(0,total-4);total+1;index++){ %>
        <li <% if (current==index) {%> class="active"<%}%> ><a href="javascript:void(0);" data-page="<%=index%>"><%=(index-1)%></a></li>
        <% } %>
    <% } %>    
    <% if(current<=total-2 && current>=2) {%>
        <% for(var index= $max(0,current-2);index<$min(current+3, total+1); index++){ %>
        <li <% if (current==index) {%> class="active"<%}%> ><a href="javascript:void(0);" data-page="<%=index%>"><%=(index-1)%></a></li>
        <% } %>
    <% } %>
    <% if (current<total){ %>
        <li><a href="javascript:void(0);" data-page="<%=current+1%>">»</a></li>
    <% } %>
    <% } %>;

</script>
<script type="text/ctrip-tpl" id="J_pageNavBarTpl">
  {{if total>0}}
    {{#! 显示首页 }}
    <a href="javascript:;" {{if current !== start }}data-page="${current-1}"{{/if}} class="page-ctrl {{if current == start }}disable{{/if}}">&lt; 上一页</a>
    {{if current !== start }}
    <a href="javascript:;" data-page="${ start }">${ start }</a>
    {{/if}}

    {{#! 显示前序页 }}
    {{if current > padding}}
    <span class="ellipsis">...</span>
    {{loop (i, len) (current - padding + 1),current,1 }}
    <a href="javascript:;" data-page="${i}">${i}</a>
    {{/loop}}
    {{else}}
    {{loop (i, len) 2,current,1}}
    <a href="javascript:;" data-page="${i}">${ i }</a>
    {{/loop}}
    {{/if}}

    {{#! 显示当前页 }}
    <a href="javascript:;" class="current">${ current }</a>

    {{#! 显示后序页 }}
    {{if current + padding <= total }}
    {{loop (i, len) current + 1, current + padding,1}}
    <a href="javascript:;" data-page="${i}">${ i }</a>
    {{/loop}}
    <span class="ellipsis">...</span>
    {{else}}
    {{loop (i, len) current + 1, total,1 }}
    <a href="javascript:;" data-page="${i}">${ i }</a>
    {{/loop}}
    {{/if}}

    {{#! 显示末页 }}
    {{if current !== total }}
    <a href="javascript:;" data-page="${ total }">${ total }</a>
    {{/if}}
    <a href="javascript:;" {{if current !== total }}data-page="${current+1}"{{/if}} class="page-ctrl {{if current == total }}disable{{/if}}">下一页 &gt;</a>
    {{/if}}

</script> 
</script>
<script src="webresources/js/lib/jquery.js"></script>
<script src="webresources/js/lib/mvc.js"></script>
<script>
template.helper('$min', Math.min);
template.helper('$max', Math.max);
console.log(template.render('test', {current:3, total:10, start: 2, padding: 3}));
$('#wrap').html(template.render('test', {current:30, total:100, start: 1, padding: 5})); 
</script>
<script>
//$('#wrap').html($('#J_pageNavBarTpl').tmpl({current:3, total:10, start: 2, padding: 3}));
</script>
</body>
</html>
