<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
        <link href="webresources/css/lib/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="webresources/css/lib/base.css" rel="stylesheet">
    <link href="webresources/css/list.css" rel="stylesheet">
    <style type="text/css">
        .selected {color: red}
    </style>
</head>
<body>
    <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg" style="display:none;">Launch demo modal</a>

  <!-- Modal -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<ul class="pagination hm-list-page" id="J_pagebar" style="display:none;">
            </ul>
<script type="text/ctrip-tpl" id="J_pageNavBarTpl">
  <% if (total>0) {%>
    <li><a href="javascript:void(0);" class="<% if (current == start) { %>disable<% } %>" data-page="<%=(current-1)%>}">«</a></li>
    <% if (current !== start) { %>
    <li><a href="javascript:;" data-page="<%=start%>"><%=start%></a></li>
    <% } %>


    <% if (current > padding) { %>
    <li><a class="ellipsis" href="javascript:;">...</a></li>
    <% for (var i=current - padding + 1;i<current;i++) {  %>
    <li><a href="javascript:;" data-page="<%=i%>"><%=i%></a></li>
    <% } %>
    <% } %>
    <% if(current <= padding) {%>
    <% for (var i=2;i<current;i++) { %>
    <li><a href="javascript:;" data-page="<%=i%>"><%=i%></a></li>
    <% } %>
    <% } %>


    <li class="active"><a href="javascript:;"><%=current%></a></li>


    <% if (current + padding <= total) { %>
    <% for (var i=current+1; i< current+padding;i++) { %>
    <li><a href="javascript:;" data-page="<%=i%>"><%=i%></a></li>
    <% } %>
    <li><a class="ellipsis" href="javascript:;">...</a></li>
    <% } %>

    <% if (current + padding > total) {%>
    <% for(var i=current+1; i<total;i++) {  %>
    <li><a href="javascript:;" data-page="<%=i%>"><%=i%></a></li>
    <% } %>
    <% } %>


    <% if (current !== total) { %>
    <li><a href="javascript:;" data-page="<%=total%>"><%=total%></a></li>
    <% } %>
    <li><a href="javascript:;" <% if (current !== total) { %>data-page="<%=current+1%>"<% } %> class="page-ctrl <% if (current == total) { %>disable<% } %>">»</a></li>
  <% } %>

</script>
</script>
<script src="webresources/js/lib/sea.js"></script>
<script src="webresources/js/lib/jquery.js"></script>
<script src="webresources/js/lib/mvc.js"></script>
<script src="webresources/js/lib/bootstrap.js"></script>
<script>
template.helper('$min', Math.min);
template.helper('$max', Math.max);
//console.log(template.render('test', {current:3, total:10, start: 2, padding: 3}));
$('#J_pagebar').html(template.render('J_pageNavBarTpl', {current:80, total:100, start: 1, padding: 5}));
</script>
<script>
seajs.config({
        base: "webresources/js/",
        alias: {
            "jquery": "lib/jquery.js"
        }
    });
seajs.use(['lib/bootstrap', 'jquery', 'test']);

</script>
 
</body>
</html>
